.post-detail-layout {
  background-color: #fff;
}

.post-detail-image {
  width: 100%;
  height: auto;
}

.post-detail-content {
  word-break: break-all;
}

.post-detail-card {
  width: 100%;
  margin-top: 50px;
  background-color: rgb(176, 230, 179);
}

.post-detail-title {
  margin-top: 20px;
  text-align: center;
}

.post-detail-meta-title {
  font-weight: bold;
}
