.post-list {
  padding: 50px;
  background-color: white;
}

.post-item {
  background-color: #e8ece8;
  padding: 24px;
  margin-top: 10px;
}

.post-item-title {
  color: green;
  font-weight: bold;
}

.post-item-content {
  word-break: break-all;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0fa44a;
}

.btn-icon {
  font-size: 20px;
  margin-right: 10px;
}
